.DS_Store
node_modules
/dist


admin/wp-content/themes/twenty*
admin/wp-content/upgrade
admin/wp-content/uploads
admin/wp-admin
admin/wp-includes
admin/wp-settings.*
admin/wp-*.php
admin/sitemap.*
admin/wp-config.php
admin*.sql
admin/.htaccess
admin/index.php
admin/xmlrpc.php


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
